@import "tailwindcss";

@theme {
  --color-brand-pink: #ec1e7a;
  --color-brand-pink-dark: #c2185b;
  --color-brand-teal: #1bb8ba;
  --color-brand-teal-dark: #0e6b6d;
  --color-brand-yellow: #ffe600;
}

body {
  margin: 0;
}
